<div class="fendee-login-register">
  <div class="hero-wrap d-flex align-items-center h-100">
    <div class="hero-mask opacity-4 bg-secondary"></div>
    <div class="hero-bg hero-bg-scroll" style="background-image:url('assets/images/bg-4.jpeg');"></div>
    <div class="hero-content mx-auto w-100 h-100">
      <div class="container">
        <div class="row no-gutters min-vh-100">
          <div class="col-md-6 d-flex flex-column">
            <div class="row no-gutters my-auto">
              <div class="col-10 col-lg-9 mx-auto text-center">
                <div class="logo mt-5 mb-3"> <a title="Fendee"><h3 class="text-white">Fendee</h3></a> </div>
                <h1 class="text-5 font-weight-400 text-white mb-5">We are glad to see you again!</h1>
                <p>                    
                  <img src="assets/images/qr-code.png" width="128" height="128" class="shadow-lg" alt="qr code">
                </p>
                <p class="text-white mb-0">Log In with QR Code</p>
                <p class="text-light text-2 mx-lg-5">Scan this with your camera or our mobile app to login instantly.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-center py-5">
            <div class="container my-auto py-4 shadow-lg bg-white">
              <div class="row">
                <div class="col-11 col-lg-11 mx-auto">
                  <h3 class="text-9 font-weight-600 text-center mt-2 mb-3">Forgot password?</h3>
                  <p class="text-muted text-center mb-4">Enter the email address or mobile number associated with your account.</p>
                  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <label class="text-dark font-weight-600" for="emailAddress">Email or Mobile Number</label>
                      <input formControlName="resetField" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.resetField.errors }"
                      type="text" class="form-control rounded-0" placeholder="Enter Email or Mobile Number">
                      <div *ngIf="submitted && f.resetField.errors" class="invalid-feedback">
                        <div *ngIf="f.resetField.errors.required">Email or Mobile number is required</div>
                      </div>
                    </div>
                    <button class="btn btn-dark btn-block rounded-0 my-4">
                      Continue
                    </button>
                  </form>
                  <div class="d-flex align-items-center my-3">
                    <hr class="flex-grow-1">
                    <span class="mx-2 text-2 text-muted">Or sign in with</span>
                    <hr class="flex-grow-1">
                  </div>
                  <div class="form-row mb-3">
                    <div class="col-4">
                      <button type="button" class="btn btn-outline-facebook btn-sm btn-block border-2 rounded-0 shadow-none"><span class="mr-2"><i class="fab fa-facebook-f"></i></span>Facebook</button>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-outline-google btn-sm btn-block border-2 rounded-0 shadow-none"><span class="mr-2"><i class="fab fa-google"></i></span>Google</button>
                    </div>
                    <div class="col-4">
                      <button type="button" class="btn btn-outline-twitter btn-sm btn-block border-2 rounded-0 shadow-none"><span class="mr-2"><i class="fab fa-twitter"></i></span>twitter</button>
                    </div>
                  </div>
                  <p class="text-center">Return to <a class="btn-link text-primary cursor-pointer" (click)="sign_in()"><u>Sign In</u></a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
