<div class="fendee-login-register">
  <div class="container-fluid px-0">
    <div class="row no-gutters min-vh-100">
      <div class="col-md-6 d-flex flex-column align-items-center order-2 order-md-1">
        <div class="container pt-5">
          <div class="row">
            <div class="col-11 col-md-10 mx-auto">
              <p class="text-right text-2 text-muted font-weight-300">
                Didn't get the code?
                <a class="btn-link font-weight-300 cursor-pointer" (click)="resend_code()">Resend it</a></p>
            </div>
          </div>
        </div>
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
              <h3 class="font-weight-300 text-9 mb-4 text-center">Verification</h3>
              <p class="text-center">
                <img class="img-fluid" src="assets/images/otp-icon-dark.png" alt="verification">
              </p>
              <p class="text-muted text-center font-weight-300 mb-4">Enter the verification code we sent to <br>
                <span class="text-dark text-center text-4">+225 xx-xx-xx-xx</span>
              </p>
              <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class="col">
                    <input
                      type="text"
                      formControlName="code"
                      class="form-control border-light text-center text-6 py-2"
                      [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
                      maxlength="1" required autocomplete="off">
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      formControlName="code"
                      class="form-control border-light text-center text-6 py-2"
                      [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
                      maxlength="1" required autocomplete="off">
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      formControlName="code"
                      class="form-control border-light text-center text-6 py-2"
                      [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
                      maxlength="1" required autocomplete="off">
                  </div>
                  <div class="col">
                    <input
                      type="text"
                      formControlName="code"
                      class="form-control border-light text-center text-6 py-2"
                      [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
                      maxlength="1" required autocomplete="off">
                  </div>
                </div>
                <button class="btn btn-dark btn-block shadow-none font-weight-400 my-4">
                  Verify
                </button>
              </form>
              <div class="d-flex align-items-center my-4">
                <hr class="flex-grow-1">
                <span class="mx-2 text-2 text-muted font-weight-300">Or continue with</span>
                <hr class="flex-grow-1">
              </div>
              <div class="form-row mb-3">
                <div class="col-6">
                  <button type="button" class="btn btn-light btn-sm btn-block font-weight-400 shadow-none border">
                    <span class="mr-2"><i class="fab fa-google"></i></span>
                    Google
                  </button>
                </div>
                <div class="col-6">
                  <button type="button" class="btn btn-light btn-sm btn-block font-weight-400 shadow-none border">
                    <span class="mr-2"><i class="fab fa-facebook-f"></i></span>
                    Facebook
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 bg-light  order-1 order-md-2">
        <div class="container h-100 d-flex flex-column">
          <div class="row no-gutters">
            <div class="col-11 col-md-10 mx-auto">
              <div class="logo mt-5 mb-5 mb-md-0">
                <a class="d-flex" title="fendee">
                  <h3 class="text-dark">Fendee</h3>
                </a>
              </div>
            </div>
          </div>
          <div class="row no-gutters my-auto">
            <div class="col-11 col-md-10 mx-auto">
              <h1 class="text-13 font-weight-300 mb-4">Join the largest Designer community in the world.</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
