<div class="fendee-login-register">
  <div class="container-fluid px-0">

    <div class="row no-gutters min-vh-100">
      <div class="col-md-6">
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-7 bg-primary"></div>
          <div class="hero-bg hero-bg-scroll"></div>
          <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
            <div class="row no-gutters">
              <div class="col-10 col-lg-9 mx-auto">
                <div class="logo mt-5 mb-5 mb-md-0">
                  <a class="d-flex" title="logo">
                    <h2 class="text-white">
                      <img src="assets/images/logo-light.png" alt="fendee">
                    </h2>
                  </a>
                </div>
              </div>
            </div>
            <div class="row no-gutters my-auto">
              <div class="col-10 col-lg-9 mx-auto">
                <h1 class="text-11 text-white mb-4">
                  Welcome back!
                </h1>
                <p class="text-4 text-white line-height-4 mb-5">
                  We are glad to see you again! Get access to your Orders, Wishlist and Recommendations.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 d-flex align-items-center">
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto">
              <h3 class="font-weight-600 mb-4">Reset Password</h3>
              <p>
                Enter the email address or mobile number associated with your account.
              </p>
              <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="resetField">Email or Mobile number <span class="text-danger">*</span></label>
                  <input type="text" name="resetField" formControlName="resetField" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.resetField.errors }"
                   placeholder="Enter Email or Mobile Number">
                  <div *ngIf="submitted && f.resetField.errors" class="invalid-feedback">
                    <div *ngIf="f.resetField.errors.required">Email or Mobile number is required</div>
                  </div>
                </div>
                <button class="btn btn-primary btn-block my-4">
                  Continue
                </button>
              </form>
              <p class="text-center text-muted mb-0">
                Return to <a class="btn-link text-primary cursor-pointer" (click)="sign_in()">Log in</a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
