<div class="fendee-login-register bg-dark">
  <div class="container">
    <div class="row no-gutters min-vh-100 py-5">
      <div class="col-lg-7 shadow-lg">
        <div class="hero-wrap d-flex align-items-center rounded-lg rounded-right-0 h-100">
          <div class="hero-mask opacity-9 bg-primary"></div>
          <div class="hero-bg hero-bg-scroll" style="background-image:url('./assets/images/bg.jpg');"></div>
          <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
            <div class="row no-gutters">
              <div class="col-10 col-lg-10 mx-auto">
                <div class="logo mt-5 mb-5 mb-lg-0">
                  <a title="Fendee">
                    <img src="assets/images/logo-light.png" alt="Fendee">
                  </a>
                </div>
              </div>
            </div>
            <div class="row no-gutters my-auto">
              <div class="col-10 col-lg-10 mx-auto">
                <h1 class="text-11 text-white mb-3">
                  Looks like you're new here!
                </h1>
                <p class="text-5 text-white line-height-4 mb-4">
                  Join our group in few minutes! Sign up with your details to get started
                </p>
                <a class="btn btn-dark rounded-pill shadow-none video-btn py-1 px-3 d-inline-flex align-items-center mb-5 text-white">
                  <span class="mr-2 text-7"><i class="fas fa-play-circle"></i></span>
                  Watch demo
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 shadow-lg d-flex align-items-center rounded-lg rounded-left-0 bg-dark">
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-lg-10 mx-auto">
              <h3 class="text-white text-center mb-4">Validate OTP</h3>
              <p class="text-center"><img class="img-fluid" src="assets/images/otp-icon-light.png" alt="verification"></p>
              <p class="text-white-50 text-center mb-4">Please enter the OTP (one time password) to verify your account. A Code has been sent to <span class="text-light">*******179</span></p>
              <form class="form-dark" [formGroup]="otpForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                  <div class="col form-group">
                    <input type="text"
                    formControlName="code"
                    [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
                    class="form-control text-center text-6 py-2" maxlength="1" required autocomplete="off">
                  </div>
                  <div class="col form-group">
                    <input type="text"
                    formControlName="code"
                    [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
                    class="form-control text-center text-6 py-2" maxlength="1" required autocomplete="off">
                  </div>
                  <div class="col form-group">
                    <input type="text"
                    formControlName="code"
                    [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
                    class="form-control text-center text-6 py-2" maxlength="1" required autocomplete="off">
                  </div>
                  <div class="col form-group">
                    <input type="text"
                    formControlName="code"
                    [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
                    class="form-control text-center text-6 py-2" maxlength="1" required autocomplete="off">
                  </div>
                </div>
                <button class="btn btn-primary btn-block my-4">Verify</button>
                <p class="text-2 text-center text-light mb-0">Didn't get the code?
                  <a class="btn-link text-primary cursor-pointer" (click)="resend_code()">Resend it</a></p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
