<div class="fendee-login-register">
  <div class="container-fluid px-0">
    <div class="row no-gutters min-vh-100">
      <div class="col-md-5">
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-3 bg-teal"></div>
          <div class="hero-content mx-auto w-100 h-100">
            <div class="container d-flex flex-column h-100">
              <div class="row no-gutters">
                <div class="col-11 col-lg-9 mx-auto">
                  <div class="logo mt-5 mb-5 mb-md-0">
                    <a class="d-flex" title="fendee">
                      <img src="images/logo-teal.png" alt="fendee">
                    </a>
                  </div>
                </div>
              </div>
              <div class="row no-gutters my-auto">
                <div class="col-11 col-lg-9 mx-auto">
                  <p class="text-4 line-height-4">We are glad to see you again!</p>
                  <h1 class="text-9 font-weight-600 mb-5">Join the largest Designer community in the world.</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 d-flex flex-column align-items-center">
        <div class="container pt-5">
          <div class="row">
            <div class="col-11 col-md-11 mx-auto">
              <p class="text-right text-2 mb-0">Already a member?
                <a class="text-teal cursor-pointer" (click)="sign_in()">
                  Sign in
                </a>
              </p>
            </div>
          </div>
        </div>
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-md-10 col-lg-9 col-xl-8 mx-auto">
              <h3 class="font-weight-600 mb-4">Sign up to Fendee</h3>
              <div class="form-row mb-3">
                <div class="col-4 col-sm-4 col-lg-6">
                  <button type="button" class="btn btn-google btn-sm btn-block font-weight-400 shadow-none">
                    <span class="mr-2">
                      <i class="fab fa-google"></i>
                    </span>
                    <span class="d-none d-lg-inline">
                      Sign up with Google
                    </span>
                  </button>
                </div>
                <div class="col-8 col-sm-8 col-lg-6">
                  <div class="d-flex  flex-column">
                    <ul class="social-icons social-icons-rounded">
                      <li class="social-icons-facebook">
                        <a class="cursor-pointer" placement="top" ngbTooltip="Sign up with Facebook">
                          <i class="fab fa-facebook-f"></i>
                        </a>
                      </li>
                      <li class="social-icons-twitter">
                        <a class="cursor-pointer" placement="top" ngbTooltip="Sign up with Twitter">
                          <i class="fab fa-twitter"></i>
                        </a>
                      </li>
                      <li class="social-icons-linkedin">
                        <a class="cursor-pointer" placement="top" ngbTooltip="Sign up with Linkedin">
                          <i class="fab fa-linkedin-in"></i>
                        </a>
                      </li>
                      <li class="social-icons-apple">
                        <a class="cursor-pointer" placement="top" ngbTooltip="Sign up with Apple">
                          <i class="fab fa-apple"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="d-flex align-items-center my-4">
                <hr class="flex-grow-1">
                <span class="mx-3 text-2 text-muted">Or with Email</span>
                <hr class="flex-grow-1">
              </div>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group font-weight-500">
                  <label for="fullname">Fullname <span class="text-danger">*</span></label>
                  <input type="text" formControlName="fullname" class="form-control border-light"
                    [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }"
                    placeholder="Enter Your Fullname">
                    <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                      <div *ngIf="f.fullname.errors.required">Fullname is required</div>
                    </div>
                </div>
                <div class="form-group font-weight-500">
                  <label for="emailAddress">Email Address <span class="text-danger">*</span></label>
                  <input type="email" formControlName="email" class="form-control border-light"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                    placeholder="Enter Your Email">
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                      <div *ngIf="f.email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group font-weight-500">
                  <label for="loginPassword">Password <span class="text-danger">*</span></label>
                  <input type="password" formControlName="password" class="form-control border-light"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                    placeholder="Enter Password">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
                <div class="form-group font-weight-500">
                  <label for="confirmPassword">Confirm password <span class="text-danger">*</span></label>
                  <input type="password" formControlName="confirmPassword" class="form-control border-light"
                    [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                    placeholder="Enter Password">
                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                      <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                      <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                </div>
                <div class="form-group mt-4">
                  <div class="custom-control custom-checkbox">
                    <input name="acceptTerms" formControlName="acceptTerms"
                    [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }"
                    class="form-check-input" type="checkbox">
                    <label for="agree">I agree to the <a class="text-teal">Terms</a> and <a class="text-teal">Privacy Policy</a>.</label>
                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                  </div>
                </div>
                <button class="btn bg-teal text-white shadow-none my-2">
                  Sign up
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
