<div class="fendee-login-register">
  <div class="container-fluid px-0">
    <div class="row no-gutters min-vh-100">
      <div class="col-md-6 d-flex flex-column order-2 order-md-1">
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-lg-9 col-xl-8 mx-auto text-center">
              <div class="logo mb-4"> 
                <a class="d-flex" title="logo">
                  <h3 class="text-dark">
                    <!-- Put your logo here -->
                  </h3>
                </a>   
              </div>
              <h4 class="mb-4">Forgot your password?</h4>
			        <p class="text-muted text-center mb-4">Enter the email address or mobile number associated with your account.</p>
			        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <input type="email" name="resetField" formControlName="resetField"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.resetField.errors }"
                  placeholder="Enter Email or Mobile Number">
                </div>
                <button class="btn btn-primary btn-block shadow-none my-4">
                  Continue
                </button>
              </form>
              <div class="d-flex align-items-center my-3">
                <hr class="flex-grow-1">
                <span class="mx-2 text-2 text-primary cursor-pointer" (click)="sign_in()">Or Log in as User</span>
                <hr class="flex-grow-1">
              </div>
              <div class="d-flex  flex-column align-items-center mb-4">
                <ul class="social-icons social-icons-rounded">
                  <li class="social-icons-facebook"><a placement="top" ngbTooltip="Log In with Facebook"><i class="fab fa-facebook-f"></i></a></li>
                  <li class="social-icons-twitter"><a placement="top" ngbTooltip="Log In with Twitter"><i class="fab fa-twitter"></i></a></li>
                  <li class="social-icons-google"><a placement="top" ngbTooltip="Log In with Google"><i class="fab fa-google"></i></a></li>
                  <li class="social-icons-linkedin"><a placement="top" ngbTooltip="Log In with Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
              <p class="text-muted text-2 mb-0">Return to
                <a class="btn-link text-primary cursor-pointer" (click)="sign_in()">Log in</a>
              </p>
            </div>
          </div>
        </div>
        <div class="container py-2">
          <p class="text-2 text-muted text-center mb-0">Copyright © 2020 <a href="#">Fendee</a>. All Rights Reserved.</p>
        </div>
      </div>

      <div class="col-md-6 order-1 order-md-2">
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-8 bg-secondary"></div>
          <div class="hero-bg hero-bg-scroll" style="background-image:url('./assets/images/bg-3.jpg');"></div>
          <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
            <div class="row no-gutters my-auto py-5">
              <div class="col-10 col-lg-9 mx-auto">
                <p class="text-4 text-white">We are glad to see you again!</p>
                <h1 class="text-10 text-white mb-4">Join our next negotiation group in few minutes!</h1>
                <a class="btn btn-outline-light shadow-none video-btn mt-2" href="#">
                  <span class="mr-2"><i class="fas fa-play-circle"></i></span>
                  Watch demo
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
