
@mixin alert-variant($background) {
	$color: color-yiq($background);
  color: $color;
  @include gradient-bg($background);
  border-color: $background;

  hr {
    border-top-color: $color;
  }

  .alert-link {
    color: darken($color, 10%);
  }
}

@mixin alert-bordered-variant($border, $background, $color) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;

  hr {
    border-top-color: $color;
  }

  .alert-link {
    color: darken($color, 10%);
  }
}
