<div class="fendee-login-register">
  <div class="hero-wrap min-vh-100">
    <div class="hero-mask opacity-4 bg-secondary"></div>
    <div class="hero-bg hero-bg-scroll" style="background-image:url('assets/images/bg-6.jpg');"></div>
    <div class="hero-content d-flex min-vh-100">
      <div class="container my-auto">
        <div class="row">
          <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
            <div class="hero-wrap rounded shadow-lg p-4 py-sm-5 px-sm-5 my-4">
              <div class="hero-mask opacity-9 bg-dark"></div>
              <div class="hero-content">
                <h4 class="text-white mb-4 text-center">Forgot password?</h4>
                <p class="text-light mb-4 text-center">Enter the email address or mobile number associated with your account.</p>
                <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="form-dark">
                  <div class="form-group icon-group">
                    <input type="text" class="form-control" formControlName="resetField"
                    [ngClass]="{ 'is-invalid': submitted && f.resetField.errors }"
                    placeholder="Enter Email or Mobile Number">
                    <span class="icon-inside">
                      <i class="fas fa-user"></i>
                    </span>
                    <div *ngIf="submitted && f.resetField.errors" class="invalid-feedback">
                      <div *ngIf="f.resetField.errors.required">Email or Mobile number is required</div>
                    </div>
                  </div>
                  <button class="btn bg-danger-red text-light btn-block shadow-none mt-4 mb-3">
                    Continue
                  </button>
                </form>
                <p class="text-muted text-center mb-0">
                  Return to
                  <a class="btn-link text-light text-3 cursor-pointer" (click)="sign_in()">Log in</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
