<div class="fendee-login-register bg-dark">
  <div class="container">
    <div class="row no-gutters min-vh-100 py-5">
      <div class="col-lg-7 shadow-lg">
        <div class="hero-wrap d-flex align-items-center rounded-lg rounded-right-0 h-100">
          <div class="hero-mask opacity-9 bg-primary"></div>
          <div class="hero-bg hero-bg-scroll" style="background-image:url('./assets/images/bg.jpg');"></div>
          <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
            <div class="row no-gutters">
              <div class="col-10 col-lg-10 mx-auto">
                <div class="logo mt-5 mb-5 mb-lg-0"> 
                  <a class="d-flex" title="logo">
                    <h3 class="text-white">
                      Fendee
                    </h3>
                  </a>                
                </div>
              </div>
            </div>
            <div class="row no-gutters my-auto">
              <div class="col-10 col-lg-10 mx-auto">
                <h1 class="text-11 text-white mb-3">
                  Looks like you're new here!
                </h1>
                <p class="text-5 text-white line-height-4 mb-4">
                  Join our group in few minutes! Sign up with your details to get started
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5 shadow-lg d-flex align-items-center rounded-lg rounded-left-0 bg-dark">
        <div class="container my-auto py-5">
          <div class="row">
            <div class="col-11 col-lg-10 mx-auto">
              <h3 class="text-white text-center mb-4">Sign up</h3>
              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label class="text-light" for="fullname">Fullname <span class="text-danger">*</span></label>
                  <input type="text" formControlName="fullname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }"
                   placeholder="Enter Your Name">
                  <div *ngIf="submitted && f.fullname.errors" class="invalid-feedback">
                    <div *ngIf="f.fullname.errors.required">Fullname is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="text-light" for="emailAddress">Email Address <span class="text-danger">*</span></label>
                  <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                   placeholder="Enter Your Email">
                  <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="text-light" for="registerPassword">Password <span class="text-danger">*</span></label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                   placeholder="Enter Password">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="text-light" for="confirmPassword">Confirm Password <span class="text-danger">*</span></label>
                  <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                   placeholder="Enter confirm Password">
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
                    <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm">
                    <div class="custom-control custom-checkbox">
                      <input name="acceptTerms" formControlName="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }"
                      type="checkbox">
                      <label class="text-light" for="accept-terms">
                        &nbsp;
                        Accept Terms & Conditions
                      </label>
                      <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-primary btn-block my-4">Sign Up</button>
              </form>
              <div class="d-flex align-items-center my-3">
                <hr class="flex-grow-1 border-dark">
                <span class="mx-2 text-2 text-muted">Or with Social Profile</span>
                <hr class="flex-grow-1 border-dark">
              </div>
              <div class="d-flex  flex-column align-items-center mb-4">
                <ul class="social-icons social-icons-circle">
                  <li class="social-icons-facebook cursor-pointer"><a placement="top" ngbTooltip="Sign Up with Facebook"><i class="fab fa-facebook-f"></i></a></li>
                  <li class="social-icons-twitter cursor-pointer"><a placement="top" ngbTooltip="Sign Up with Twitter"><i class="fab fa-twitter"></i></a></li>
                  <li class="social-icons-google cursor-pointer"><a placement="top" ngbTooltip="Sign Up with Google"><i class="fab fa-google"></i></a></li>
                  <li class="social-icons-linkedin cursor-pointer"><a placement="top" ngbTooltip="Sign Up with Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
              </div>
              <p class="text-2 text-center text-light mb-0">
                Already have an account?
                <a class="btn-link text-primary cursor-pointer" (click)="sign_in()">Log in</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
