<div class="fendee-login-register h-100 d-flex flex-column bg-transparent">
  <div class="container my-auto">
    <div class="row">
      <div class="col-md-9 col-lg-7 col-xl-5 mx-auto">
        <div class="bg-white shadow-md rounded p-4 px-sm-5 mt-4">
          <div class="logo">
            <a class="d-flex justify-content-center" title="Fendee">
              <h3 class="text-dark">Fendee</h3>
            </a>
          </div>
          <hr class="mx-n4 mx-sm-n5">
            <h4 class="text-center mb-3 mt-4">Reset Password</h4>
            <p class="text-muted text-center mb-4">Enter the email address or mobile number associated with your account.</p>          <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="resetField">Email or Mobile number <span class="text-danger">*</span></label>
              <input type="text" name="resetField" formControlName="resetField" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.resetField.errors }"
                placeholder="Enter Email or Mobile Number">
              <div *ngIf="submitted && f.resetField.errors" class="invalid-feedback">
                <div *ngIf="f.resetField.errors.required">Email or Mobile number is required</div>
              </div>
            </div>
            <button class="btn btn-primary btn-block my-4">
              Continue
            </button>
          </form>
          <p class="text-center text-muted mb-2">
            Return to
            <a class="btn-link text-primary cursor-pointer" (click)="sign_in()">Log In</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid py-3">
    <p class="text-center text-2 text-muted mb-0">Copyright © 2020 <a>Fendee</a>. All Rights Reserved.</p>
  </div>
</div>
