// Boostrap styles
@import '~bootstrap/dist/css/bootstrap.css';

// Theme Core Styles (components, ...)
@import '@theme/scss/core';

.cursor-pointer {
  cursor: pointer !important;
}

.shadow-none:hover {
  color: #fff !important;
}

label {
  font-weight: 500;
}

.bg-teal {
  background-color: #2FAB80 !important;
}

.text-teal {
  color: #2FAB80 !important;
}

